# Ignore vim session files
/session.vim

# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build

# Ignore log files from replicas and clients
/log
/*.log

# Ignore the CA root directory
/ca-root

# Ignore config files
/config
